.person {
    margin: 50px auto;
}

.personContainer {
    display: grid;
    gap: 30px;
    grid-template-columns: 300px 1fr;
}

.personFacts {
    padding-top: 30px;
}

.personFactsTitle {
    font-size: 20px;
    padding-bottom: 20px;
}

.personFact {
    text-align: justify;
    padding-bottom: 10px;
    margin-left: 20px;
}
