.castTypeContainer {
  padding: 10px 0;
}

.castTypeTitle {
  padding-bottom: 3px;
  border-bottom: 2px solid #f60;
}

.castTypeList {
  list-style-position: inside;
  margin-top: 20px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, auto);
}

.castPerson {
  width: 270px;
  display: flex;
}

.castImg {
    width: auto;
    height: auto;
}

.castPersonAbout {
  padding-left: 10px;
  font-size: 14px;
}

.castPersonNameRu {
  text-decoration: underline;
}

.castPersonNameEn {
  opacity: .6;
}

.castPersonDescription {
  padding-top: 10px;
}
