.layout {
    display: flex;
    height: 100%;
    width: 100%;
}

.layoutContent {
    display: grid;
    grid-auto-rows: auto 1fr auto;
    width: 100%;
    color: white;
    background-color: #222623;
    padding-left: 200px;
}
