@import 'styles/variables';

.navbarList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
        transition: all .5s;
        border-radius: 15px;
        text-align: center;
        padding: 10px;
        margin: 10px;
        &:hover {
            background-color: $secondary;
        }
    }
}

.searchContainer {
    position: relative;
}

.searchInput {
    width: 0;
    opacity: 0;
    animation: anim 1s linear forwards;
    margin-right: 10px;
    border-color: $secondary;
    &:focus {
        border-color: $secondary;
    }
    &::placeholder {
        opacity: 0.3;
        color: $secondary;
    }
}

.searchBtn {
    color: $secondary;
}

.searchMovies {
    color: $primary;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 35px;
    border-radius: 6px;
    overflow-y: auto;
    background-color: $white;
    z-index: 2;
    padding: 10px;
    a {
        border-radius: 0;
        padding: 0;
        margin: 10px;
    }
}

.searchMovie {
    display: flex;
    align-items: center;
    transition: all 1s;
    text-align: start;
    img {
        margin-right: 30px;
    }
    &:hover {
        background-color: $lightGrey;
    }
}

.searchMovieText {
    display: flex;
    opacity: .5;
    .searchMovieRating {
        margin-right: 20px;
    }
}

@keyframes anim{
    50%{
        opacity: 0.5;
        width: 250px;
    }
    100%{
        opacity: 1;
        width: 500px;
    }
}
