@import 'styles/variables';

.navbarList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    :hover {
        border-radius: 15px;
        background-color: $secondary;
    }
}

.navbarList {
    a {
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
}

.active {
    background-color: $secondary;
    border-radius: 15px;
}
