@import 'styles/variables';

.navbarList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
        transition: all .5s;
        border-radius: 15px;
        &:hover {
            background-color: $secondary;
        }
    }

}

.navbarList {
    a {
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
}
