@import 'styles/variables';

.movieInfo {
    display: flex;
    justify-content: space-between;
}

.movieMainInfo {
    max-width: 600px;
}

.movieName {
    font-size: 40px;
    font-weight: 700;
}

.movieNameOriginal {
    font-size: 18px;
    opacity: .6;
    margin: 16px 0;
    span {
        margin-right: 10px;
    }
}

.kinopoiskUrl {
    margin-top: 20px;
    color: $secondary;
    &:hover {
        text-decoration: underline;
    }
}

.ratingKinopoisk {
    font-size: 32px;
}

.voteCount {
    font-size: 13px;
    opacity: .6;

}
