.personNameRu {
    font-size: 40px;
    font-weight: 700;
}

.personNameOriginal {
    font-size: 18px;
    opacity: .6;
    margin: 16px 0;
    span {
        margin-right: 10px;
    }
}

.personItem {
    display: flex;
    font-size: 13px;
    padding: 8px 0;
    align-items: center;
}

.personItemText {
    width: 160px;
    opacity: .6;
}

.personItemContent {
    width: 440px;
    a:hover {
        color: #ff6200;
    }
}

.kinopoiskUrl {
    margin-top: 20px;
    color: #ff6200;
    &:hover {
        text-decoration: underline;
    }
}

.personAboutTitle {
    padding-bottom: 20px;
}

.personAboutContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.personBestFilmsList {
    list-style: none;
}

.personBestFilmsItem {
    font-size: 13px;
    padding-bottom: 5px;
    :hover {
        color: #ff6200;
    }
}
