.personCard {
  display: flex;
}

.personContent {
  margin-left: 10px;
  a:hover {
    color: inherit;
  }
  .personName {
    font-size: 20px;
    font-weight: 700;
  }
}

.personDescription {
  opacity: .6;
}
