@import 'styles/variables';

.profileContainer {
    margin: 0 auto;
    padding-top: 100px;
    width: 400px;
}

.profile {
    background-color: $white;
    color: $primary;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    img {
        border-radius: 50%;
    }
}

.btn {
    margin-top: 20px;
    border: 1px solid $primary;
    border-radius: 10px;
    background-color: $white;
    padding: 5px 10px;
    transition: all .5s;
    &:hover {
        color: $white;
        background-color: $secondary;
    }
}
