@import 'styles/variables';

.awardContainer {
    border: 1px solid $grey;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

.awardTitle {
    font-weight: 700;
}

.awardResults {
    padding: 20px;
}

.awardList {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.awardImage {
    position: absolute;
    width: 50px;
    height: 100px;
    right: 10px;
    top: 10px;
}
