.aboutContainer {
  display: flex;
  margin: 30px 0;
}

.about {
  h3 {
    padding-bottom: 20px;
  }
}

.aboutItem {
  display: flex;
  font-size: 13px;
  padding: 8px 0;
  align-items: center;
}

.aboutItemContent {
  width: 440px;
  a:hover {
    color: #ff6200;
  }
}

.aboutItemText {
  width: 160px;
  opacity: .6;
}

.aboutItemBorder {
  border: 1px solid #fff;
  padding: 2px;
}

.actors {
  margin-left: 20px;
}

.actorsList {
  margin-top: 20px;
  li {
    list-style: none;
    font-size: 13px;
    padding-bottom: 5px;
    &:hover {
      color: #ff6200;
    }
  }
}

.actorsCount {
  margin-top: 20px;
  color: #ff6200;
}
