@import 'variables';

.movieDetailsPage {
    background-color: $lightGrey;
    color: $primary;
    padding: 20px 0;
}

.movieDetailsContainer {
    background-color: $white;
    max-width: 900px;
    padding: 20px 30px;
    margin: 0 auto;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

.movieDetailsTitle {
    font-size: 23px;
    span {
        color: $secondary;
    }
}

.backToMovieContainer {
    margin: 20px 0;
}

.backToMovie {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.imagesType {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    &:not(:first-child) {
        margin-left: 9px;
    }

}

.activeImagesType {
    background-color: $primary;
    color: $white;
}

.backBtn {
    display: inline-block;
    margin: 30px 10px;
    button {
        background-color: transparent;
        border: none;
    }
    svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
        fill: $white;
        transition: all .5s;
        &:hover {
            fill: $secondary;
        }
    }
}

.pagination {
    margin: 30px 0;
    text-align: center;
}
